---
layout: default
---

<div class="calendar-day row">
  <h1>19 DE FEBRER</h1>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>18.00h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <h2>Repensem el model de grans esdeveniments</h2>
    <hr />
    <div class="row">
      <p class="col-sm-12">
        <b>Manuel Delgado</b> farà una xerrada d'obertura amb el títol <b>"L'urbanicidi com a espectacle. Barcelona i la política de grans esdeveniments."</b>, a continuació hi haurà la taula rodona <b>"Repensem el model de grans esdeveniments"</b> on participaran l'<b>Ariadna i la Laura</b> de Stop Pujades, el <b>Miguel Álvarez</b> de Nación Rotonda, la <b>Paula Ezquerra</b> de Putas Indignadas, la <b>Lali Corralero</b> de Las Kellys, l'<b>Isabel Benítez</b> de la COS i el <b>Javier Marco</b> de Correscales. Es tractaran temes com el transport, el treball sexual, la precarietat laboral i la divisió sexual del treball.
      </p>
      <p class="col-xs-2 col-xs-offset-1">
        <img class="img-responsive center-block" src="{{ site.baseurl }}/img/ponents/correscales.jpg" />
      </p>
      <p class="col-xs-2">
        <img class="img-responsive center-block" src="{{ site.baseurl }}/img/ponents/cos.gif" />
      </p>
      <p class="col-xs-2">
        <img class="img-responsive center-block" src="{{ site.baseurl }}/img/ponents/Las-Kellys.jpg" />
      </p>
      <p class="col-xs-2">
        <img class="img-responsive center-block" src="{{ site.baseurl }}/img/ponents/prostitutas-indignadas.jpg" />
      </p>
      <p class="col-xs-2">
        <img class="img-responsive center-block" src="{{ site.baseurl }}/img/ponents/stop-pujades.jpg" />
      </p>
    </div>
  </div>
</div>
<div class="calendar-day row">
  <h1>20 DE FEBRER</h1>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>10.00h a 14.00h</h2>
  </div>
  <div class="calendar-activity col-sm-5">
    <h2>MUNICIPI I TECNOLOGIA</h2>
    <h2>On som i futurs possibles</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <a href="https://dario.im/" target="_blank"><b>Dario Castañé</b></a> de <a href="http://pirata.cat/" target="_blank"><b>Pirates de Catalunya</b></a> explicarà la seva visió de la situació actual tecnològica als nostres municipis, arran de la seva experiència com regidor i informàtic, respondrà la pregunta "Estan les nostres dades segures als Ajuntaments?" i exposarà possibles alternatives per assolir la sobirania tecnològica plena i fer front als reptes del futur.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/dario.jpg" />
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/pirata-cat.jpg" />
      </div>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>ESTRATÈGIA DE RESISTÈNCIA</h2>
    <h2>vs màquines de vigilància</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <b>SpiderAlex</b> parlarà de la creixent criminalització de les activistes que protegeixen la seva privacitat i utilitzen eines de seguretat, evidenciant les aliances que hi ha entre empreses tecnològiques i els governs.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/SpiderAlex.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>SOFTWARE LLIURE A VENEÇUELA</h2>
    <h2>Una batalla per la sobirania tecnològica</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        <b>Rafael Rico</b> va ser Coordinador de Criptografia del Ministeri del Poder Popular per les Relacions Exteriors a Veneçuela, entre altres càrrecs en aquest país, i professor a la Universitat de Màlaga. Repassarà l'experiència veneçolana de sobirania tecnològica. Ens explicarà per què el coneixement i la tecnologia són un forma molt poderosa de dominació del pobles i per què la llibertat del coneixement és un acte revolucionari.
      </p>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="calendar-activity col-sm-5">
    <h2>SOBIRANIES EN INFRAESTRUCTURES</h2>
    <h2>Xarxa Telecomunicacions de Comuns</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <b>Roger Baig</b> de <a href="https://guifi.net/" target="_blank"><b>Guifi.net</b></a> farà una anàlisi crítica breu dels models econòmics i de xarxa imperants i de les seves conseqüències sobre l'estat de les infraestructures de telecomunicacions, servirà per introduir les propostes de guifi.net i els resultats aconseguits fins ara. També es presentaran les línies de treball actuals i futures i es discutirà com Barcelona pot esdevenir una referència dins de guifi.net a través d'accions concretes.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/guifi-net-transparent.svg" />
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/logo_EXO.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>15.30h a 17.30h</h2>
  </div>
  <div class="calendar-activity col-sm-5">
    <h2>LA GOVERNANÇA D'INTERNET</h2>
    <h2>Introductori</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <b>Jordi Iparraguirre</b> de <a href="http://isoc-cat.blogspot.com.es/" target="_blank"><b>ISOC-CAT</b></a> explicarà les bases de la Governança d'Internet, qui fa què i on podem participar i influir en les normatives, protocols... que fan funcionar la xarxa. El nivell seria introductori a fi de donar una visió general.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/isoc-cat.gif" />
      </div>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>CRYPTOPARTY</h2>
    <h2>Protecció de la intimitat</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <b>Jordi Iparraguirre</b> de <a href="http://isoc-cat.blogspot.com.es/" target="_blank"><b>ISOC-CAT</b></a> farà un taller d'una hora en la que s'explicarà com podem protegir la nostra privadesa i millorar la nostra seguretat a Internet.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/CryptoPartyBCN.png" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>TALLER DE SEGURETAT INFORMÀTICA PER A DONES</h2>
    <hr />
    <p>
      <b>Margarita Padilla</b> de <a href="http://www.dabne.net/" target="_blank"><b>dabne</b></a> farà un taller on posarem en comú allò que ens inquieta o que ens fa por quan fem servir el telèfon, l'ordinador o la xarxa. Cercarem estratègies que ens donin més seguretat. Aquest taller està dirigit a qualsevol dona preocupada per la seva seguretat, encara que no tingui grans coneixements tècnics.
    </p>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>SEGURETAT A LA XARXA</h2>
    <hr />
    <p>
      <a href="https://xnet-x.net/" target="_blank"><b>Xnet</b></a>
    </p>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>LA XARXA MÒBIL I EL SEU FUNCIONAMENT, USOS PÚBLICS I PRIVATS</h2>
    <hr />
    <p>
      <b>Joseba Vilalta</b> explicarà el funcionament de les xarxes mòbils i quin és el rastre que deixen. També farà una introducció al bigdata, i als seus usos públics i privats.
    </p>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>XARXES SOCIALS, DADES I ALTERNATIVES EN LA TECNOLOGIA LLIURE</h2>
    <hr />
    <p>
      <b>Jordi Mallach</b> se centrarà en els usos que fem dels serveis d'Internet d'avui en dia (Google, Facebook, telèfon mòbil, etc) i anirà descobrint amb els assistents per què i de quina manera són eines de control, i quines són les alternatives en les quals està treballant la comunitat del programari lliure.
    </p>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>SMART CITIES ALS BARRIS POPULARS</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <b>Silvano</b> de <a href="http://www.descom.cat/" target="_blank"><b>Cooperativa Desenvolupament Comunitari</b></a>
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/desenvolupament_comunitari.jpeg" />
      </div>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>COM PARTICIPAR DE GUIFINET</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <a href="https://guifi.net/" target="_blank"><b>Guifi.net</b></a>  és més que una xarxa de telecomunicacions lliure, oberta, i neutral, és també una comunitat que està evolucionant cap a unes necessitats cada cop més genèriques. L'objectiu d'aquest debat és resoldre, respondre i discutir sobre quines són les diferents formes que els assistents poden participar a guifi.net a Barcelona, o altres indrets.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/guifi-net-transparent.svg" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>PRESENTACIÓ PROJECTE ETICOM</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <a href="https://eticom.coop/" target="_blank"><b>eticom</b></a>
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/Eticom_somconnexio.jpg" />
      </div>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>PRESENTACIÓ PROJECTE TEB</h2>
    <h2>El Teb, transformació social a través de les TIC</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <a href="http://elteb.org/" target="_blank"><b>El Teb</b></a> va néixer fa més de 20 anys al barri del Raval de Barcelona i des de llavors ha esdevingut un agent promotor de la participació ciutadana, la vida comunitària i la lluita contra les desigualtats socials. Des de sempre l'entitat ha perseguit aquests objectius a través de la formació, socialització i l'ús de les TIC, us expliquem com.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/TEB-transparent.svg" />
      </div>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>PRESENTACIÓ PROJECTE NABU</h2>
    <h2>Sabrina Presti</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        <a href="http://p2pfoundation.net/Torus_Governance_Network" target="_blank"><b>Torus Governance Network</b></a>: a proposal for Human social evolution based on technology and geometry.<br />
        Proposed and developed by Sabrina Presti, experimented at the <a href="http://cooperativa.cat/" target="_blank"><b>CIC</b></a>.
      </p>
      <!--
      <div class="col-xs-4">
      <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/" />
      </div>
      -->
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>17.30h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <h2>VIOLÈNCIA MASCLISTA I NOVES TECNOLOGIES</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        La <b>Maribel Guillamón</b> de Noestasola i la <b>Isabel Muntané</b> del Màster Gènere i Comunicació de la UAB apostem per un periodisme feminista present a les xarxes perquè sabem que aquestes són les plataformes per fer-nos fortes i per canviar discursos masclistes dels mitjans. Com a periodistes i feministes hem de fer de les xarxes el nostre espai professional i d’activisme. Hem pogut comprovar últimament com les accions a la xarxa han donat els seus resultats, les denúncies pels insults a les politípiques catalanes o la convocatòria dels grups masclistes. Ara, més enllà d’això, les eines interactives que ens permeten les noves tecnologies són a la vegada eines per construir una informació feminista que treballi per l’activisme, per canviar la realitat de les violències masclistes que patim les dones i qualsevol persona que no compleix amb l'estereotip d'home blanc, heterosexual i productiu.
      </p>
      <p class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/memes-contraataca.jpg" />
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>19.00h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <h2>SOFTWARE LLIURE EN L'ÈTICA I LA PRÀCTICA</h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        <b>Richard Stallman</b> parlarà sobre els objectius i la filosofia del moviment del Software Lliure, i l'estat i la història del sistema operatiu GNU que, amb el nucli Linux, és actualment utilitzat per desenes de milions de persones a tot el món.<br />
        <a href="https://my.fsf.org/civicrm/profile/create?gid=84&reset=1">formulari contacte</a>
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/richard-stallman-fsf.jpg" />
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="calendar-day row">
    <h1>LUDOTECA</h1>
    <div class="col-sm-11 col-sm-offset-1">
      <p>
        Durant tot el divendres i dissabte hi haurà servei de ludoteca i activitats per a nens i nenes. Per inscriure't, envia'ns un correu electrònic.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>Primers passos d'electrònica amb LittleBits</h2>
    <h2>A càrrec del <a href="http://elteb.org/" target="_blank">Teb</a></h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        Si tenim una pila, un botó i un brunzidor, com ens ho hem de manegar per muntar un timbre? El pensament tecnològic és la base de qualsevol enginyeria, i treballar-lo amb LittleBits és sempre una festa!<br />El taller està dirigit a infants i joves.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/TEB-transparent.svg" />
      </div>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>Introducció a la programació per a petits i grans amb Scratch</h2>
    <h2>A càrrec de <a href="http://booleans.cat/" target="_blank">Booleans</a></h2>
    <hr />
    <div class="row">
      <p class="col-xs-8">
        Crea les teves pròpies animacions i interactius explicant-li-ho a l'ordinador en un idioma que entengueu tots dos. Si veniu a aquest taller, porteu ordinador.<br />El taller està dirigit a infants i joves entre 6 a 13 anys.
      </p>
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/ponents/booleans.png" />
      </div>
    </div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-sm-1"></div>
  <div class="calendar-activity col-sm-5">
    <h2>Taller per a canalla Vailets HackLab</h2>
    <hr />
  </div>
</div>
-->
