---
layout: default
---

<div class="row">
  <h1>Quatre jornades per plantar cara al Mobile World Congress</h1>
  <div id="calendar" class="col-xs-12">
    <h2>19 i 20 de Febrer, <a href="http://antimwc.alscarrers.org/">antiMWC</a> i <a href="/">Congrés de Sobirania Tecnològica</a> </h2>
    <div id="calendar1" />
    <h2>21 i 23 de Febrer, <a href="http://antimwc.alscarrers.org/">antiMWC</a> i <a href="http://setem.cat">Mobile Social Congress</a> </h2>
    <div id="calendar2" />
    <h2>24 de Febrer, <a href="http://www.ereuse.org">Mobile Commons Congress</a></h2>
    <div id="calendar3" />
  </div>
</div>
<!-- All the code is in footer.html -->
