---
layout: default
title: Calendari
---
<br/>
* Anirem ampliant la informació de les xerrades en els propers dies. L'ordre d'aquestes és encara provisional i pot variar

<div class="agenda-item">
  <div class="time">
    <h2>10:00h a 10:30h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="benvinguda" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>10:30h a 11:30h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_1" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>11:30h a 12:30h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_2" %}
    {% include talk.html param="xerrada_3" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>12:30h a 13:00h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="descans" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>13:00h a 14:00h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_4" %}
    {% include talk.html param="xerrada_5" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>14:00h a 15:15h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="dinar" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>15:15h a 16:15h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_6" %}
    {% include talk.html param="xerrada_7" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>16:15h a 17:15h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_8" %}
    {% include talk.html param="xerrada_9" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>17:15h a 17:30h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="descans" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>17:30h a 18:30h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_10" %}
    {% include talk.html param="xerrada_11" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>18:30h a 19:30h</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_12" %}
  </div>
</div>
