<footer>
  <div class="footer-divider"></div>
  <div class="container">
    <div>
      <h2>Segueix-nos</h2>
      <div class="follow-us">
        <div>
          <a href="mailto:{{ site.email }}">
            <i class="fas fa-envelope fa-2x"></i>
            <!--{{ site.email }}-->
          </a>
          </div>
        <div>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <img src="/assets/icons/twitter-brands.svg" alt="twitter"/>
            <!--{{ site.twitter_username }}-->
          </a>
        </div>
        <div>
          <a href="https://mastodont.cat/@sobtec" target="_blank">
            <i class="fab fa-mastodon fa-2x"></i>
            <!--{{ site.twitter_username }}-->
          </a>
        </div>
        <div>
          <a href="https://riot.im/app/#/room/{{ site.matrix_room }}" target="_blank">
            <img src="/assets/img/riot_logo_transparent.png" alt="Sala de Matrix"/>
          </a>
        </div>
      </div>
    </div>
    <div>
      <h2>Participa</h2>
      <h4>
        <a href="http://www.sobtec.cat" target="_self">
          www.sobtec.cat
        </a>
      </h4>
      <a href="https://tools.wmflabs.org/geohack/geohack.php?pagename=Lleialtat_Santsenca&language=ca&params=41.37295556_N_2.13659444_E_" target="_blank">
		    <address>
		      La Lleialtat Santsenca. Carrer Olzinelles, 31 08014. Barcelona
		    </address>
	    </a>
    </div>
    <div>
      <h2>Organitza</h2>
      <img src="/assets/img/grup_promotor.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" />
      <div>
        <div>
          <div>web feta amb</div>
          <a href="http://jekyllrb.com/" target="_blank">
            <img src="/assets/img/jekyll-logo-black-transparent.png" alt="Logotip Jekyll" width="100" />
          </a>
        </div>
        <div>
          <div>aquí tens el codi</div>
          <a href="https://gitlab.com/grup_promotor_sobtec/web" target="_blank">
            <i class="fab fa-gitlab fa-2x"></i>
          </a>
        </div>
        <div>
          <div>
            gracies <a href="https://fontawesome.com/license">fontawesome</a> per les icones d'aquesta web
        </div>
      </div>
    </div>
  </div>
</footer>
