@font-face {
    font-family: 'DIN';
    src: url('fonts/DINEngschriftStd.eot');
    src: url('fonts/DINEngschriftStd.eot?#iefix') format('embedded-opentype'),
        url('fonts/DINEngschriftStd.woff2') format('woff2'),
        url('fonts/DINEngschriftStd.woff') format('woff'),
        url('fonts/DINEngschriftStd.ttf') format('truetype'),
        url('fonts/DINEngschriftStd.svg#DIN') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ECECEA;
  background: #c7224f;
	background-color:#F07E2A;
}

.container {
  max-width: $content-max-width;
  margin: auto;
}

 h1, h2, h3, h4 {
	color:$title-color;
	text-decoration:none;
	font-weight:bold;
}

a {
  text-decoration: none;
}
