<header class="header-site" role="banner">
    <div class="content">
        <h1>
            <span class="site-title">{{site.username}}</span>
        </h1>
        <p class="site-description">{{site.description}}</p>
        <div class="icons-home">
            <a aria-label="Main web" href="{{site.main_web}}"><svg class="icon icon-sobtec"><use xlink:href="#icon-sobtec"></use></svg></a>
            <a aria-label="Send email" href="mailto:{{site.email}}"><svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg></a>
            <a aria-label="My GitLab" target="_blank" href="http://gitlab.sobtec.cat"><svg class="icon icon-git"><use xlink:href="#icon-git"></use></svg></a>
            <a aria-label="Use the RSS to get updated" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
        </div>
    </div>
    {% include menu-search.html %}
</header>
